@font-face {
  font-family: "Signifier";
  src: url(assets/signifier-regular.woff2);
}

body {
  font-family: "Neue Haas Grotesk Display Pro", sans-serif;
  font-weight: 400;
}

h1 {
  color: #fafafa;
  font-family: "Signifier", "Times New Roman", Times, serif;
  font-weight: 400;
}

/* hero section */
.hero {
  background-color: #0000ff;
}

/* navbar */
.navbar {
  background-color: transparent;
  position: fixed;
}
